// Renk Paleti
$primary: #007BFF;
$secondary: #6C757D;
$success: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info: #17A2B8;
$light: #F8F9FA;
$dark: #343A40;

// Gradyanlar
$gradient-primary: linear-gradient(90deg, #007BFF, #0056b3);
$gradient-secondary: linear-gradient(90deg, #6C757D, #495057);

// Gölge Renkleri
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-dark: rgba(0, 0, 0, 0.25);
